/* Add your portfolio page CSS styles here */
h1 {
  color: #000000;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#videosList {
  max-width: 600px;
  overflow: hidden;
}

.video {
  height: 330px;
  width: 600px;
  margin-bottom: 50px;
}

.vscode-theme h2 {
  color: #000000;
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 30px;
}

.project img {
  float: left;
  width: 350px;
  height: auto;
  margin-right: 20px;
}

.video {
  background-image: url("craps.png");
  float: left;
  width: 350px;
  height: auto;
  margin-right: 20px;
}

.project-description {
  float: right;
  color: #000000;
}

.project-description h3 {
  color: #000000;
}
