/* resume.css */
body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

h1, h2, h3 {
  color: #000000;
}

a.underline{
  text-decoration: underline;
}

.resume {
  margin-bottom: 30px;
}


.resume-header {
  border-bottom: 2px solid #4d4d4d;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.resume-item {
  margin-left: auto;
  margin-right: auto;
}

.skills-list {
  list-style-type: none;
  padding: 0;
}

.skills-list li {
  padding: 2px 0;
}


.resume-item ul {
  width: 90%;
  margin: 20px;
  padding: 0;
  display: list-item;
}

.resume-item ul li {
  margin-bottom: 20px;
  list-style-type: none;
  padding-left: 20px;
  color: #000000;
}


.resume-item h3 {
  color: #486e93;
  transition: background-color 1s ease-in-out;
}

.resume-item:hover h3{
  color: darkorange;
}

.resume-item p {
  color: #000000;
}


header {
  text-align: center;
}

header h1 {
  color: #000000;
}

header p {
  color: #000000;
}




