/* style.css */
body {
    background-color: #ffffff;
    color: #d4d4d4;
    font-family: 'Kanit', serif;
    font-weight: normal;
    margin: 0;
    padding: 40px;
    padding-bottom: 100px;
    animation: fadeIn 2s;
}

.top {
    font-weight: normal;
    z-index: 12;
    justify-content: space-between;
    width: 100%;
    height: 4.375rem;
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    border-bottom: 0.200rem solid #123154;
    background: #000000;
}

.navbar {
    text-align: center;
    margin: 20px 0;
}

.nav-link {
    color: white;
    display: inline-block;
    padding: 8px 50px;
    margin: 0 10px;
    text-decoration: none;
}

.nav-link:hover {
    color: #b54418;
}

.back {
    padding-top: 30px;
    padding-left: 30px;
}

.p {
    margin-left: 3%;
    font-size: 15px;
    color: #000000;
    margin-right: 3%;
    position: absolute;
}

.icon {
    height: 50px;
    width: 50px;
    display: block;
}

.iconBar {

    padding: 8px 50px;
    text-decoration: none;
    position: absolute;
    width: 50%;
    height: 50px;
    z-index: 30;
    top: 50%;
    left: 50%;
    margin: 175px 0 0 -250px;
}

.container {
    position: relative;
    justify-content: space-between;
    margin: auto;
    margin-top: 10rem;
    width: 80%;
    border-radius: 50px;
    height: auto;
    padding: 10px;
}

.container ul{
    display: flex;
    margin: auto;
    padding: 0;
    zoom:1;
    max-width: 900px;
    *display: inline;
}

.contact{
    text-align: left;
    font-weight: 900;
    color: #4774a4;
    padding: 0px 0px;
    text-decoration: none;
}

.contact:hover{
    color: darkorange;
}



.stackicons{
    position: relative;
    justify-content: space-between;
    margin: auto;
    margin-top: 5rem;
    width: 80%;
    border-radius: 50px;
    height: auto;
    padding: 10px;
}

.stackicons ul{
    display: flex;
    margin: auto;
    padding: 0;
    zoom:1;
    max-width: 900px;
    *display: inline;
}

.aboutme{

}

.headshot {
    border-radius: 50%;
    width: 350px; /* Adjust the width as needed */
    height: auto;
}

.headshot:hover {
    box-shadow: inset 1px 0px 1px 1px darkorange;
    transition: box-shadow 0.6s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container2 {
    max-width: 225px;
}

h1, h2, h3 {
    color: #000000;
}

.title {
    display: inline-block;
    font-weight: 900;
    color: #000000;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid #000000;
    animation: typing 2s steps(14), blinking-cursor 1s infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blinking-cursor {
    from, to {
        border-color: transparent; /* Cursor is invisible */
    }
    50% {
        border-color: #79b8ff; /* Cursor is visible */
    }
}


.subtitle {
    color: #000000;
    text-align: left;
}


.footerLinks {
    padding: 8px 20px;
    margin: auto;
    width: 100%;
    font-size: 12px;
}


.bodytext {
    display: inline-block;
    width: 500px;
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
}

.aboutme {

}


#page-container {
    position: relative;
    min-height: 50vh;
}

#content-wrap {
    padding-bottom: 200px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;

}

ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 70%;
}

li {
    display: block;
    flex: 0 2 auto;
    list-style-type: none;
}


